body{
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    min-height: 100vh;
}

.page{
    min-height: 100vh;
}

.part1{
    background-color: #0a2f5c;
    padding: 0; 
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 200px;
    gap: 40px;
}

.hero-text {
    color: white;
    flex: 1;
    max-width: 500px;
    min-width: 300px;
  }
  
  .hero-image {
    flex: 1;
    text-align: right;
  }


.header img {
    width: auto;
    height: 40px;
}

.hero img{
    max-height:300px;
    width: auto;
    border-radius: 12px;
}
.hero button{
    color: white;
    background-color: #1573fe;
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 16px;
    border: 0;
}

.part2{
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 40px;
}

.info-header{
    color: black;
    padding-bottom: 24px;
}

.info-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-cards img{
    max-width: 180px;
    min-height: auto;
    border-radius: 12px;
    border-color: #e0e0e0;
}

.card{
    text-align: center;
    color: #333333;
    width: 200px;
}

.part3{
    background-color: #f5f5f5;
    
}

.review{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 40px auto;
    padding: 80px;
    gap: 10px;
}

.review-text{
    color: #333333;
    font-size: 32px;
    text-align: start;
    font-style: italic;
}

.review-footer{
    display: flex;
    justify-content: flex-end;
}

.reviewer-name{
    font-weight: 800;
    font-size: 16px;
    text-align: end;
}

.part4{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.message{
    background-color: #3366ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 16px;
    border-radius: 16px;
    padding: 36px 80px;
    min-width: 500px;
}

.message-text{
    color: white;
}

.message-button button{
    color: white;
    background-color: #3366ff;
    border-color: white;
    border-radius: 12px;
    padding: 8px;
}

ul{
    list-style: none; 
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer{
    background-color: #0a2f5c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
